<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ping!</title>
</head>
<body>
<a href="/post">Добавить пост</a>
<div>
    {% for post in post_list %}
    <hr>
    <div>
        <h2>{{ post.name }}</h2>
        <p>{{ post.text }}</p>
        <img src='{{ post.image }}'/>
        <p>{{ post.pub_date }}</p>
    </div>
    </hr>
    {% endfor %}
</div>
<form method="POST">{% csrf_token %}
    <label for="id_ipaddress">IP Address / Host: :</label>
    <br>
    <input type="text" name="ipaddress" id="id_ipaddress">
    <button type="submit">Ping!</button>
</form>
</body>
</html>