<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
</head>
<body>
<a href="/">Назад</a>
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <label for="id_post_name">Название: </label>
    <input type="text" name="post_name" id="id_post_name">
    <br>
    <label for="id_post_text">Содержимое: </label>
    <textarea name="post_text" id="id_post_text"></textarea>
    <br>
    <label for="id_post_image">Изображение: </label>
    <input type="file" name="post_image" id="id_post_image">
    <br>
    <button type="submit">Отправить!</button>
</form>
</body>
</html>